.return-button {
    position: relative;
    right: 50px;
    top: 30px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
}

.edit-device-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 965px;
    background-color: transparent;
}

.cotrol-panel-container {
    max-width: 262px;
    min-height: 555px;
    padding-left: 37px;
    margin-right: 17px;
    background-color: white;
}

.readonly-container {
    display: flex;
    flex-direction: column;
    max-width: 648px;
}

.map-header {
    padding-left: 22px;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 0.03em;
}

.map-container {
    background-color: white;
    max-height: 451px;
    max-width: 648px;
    margin-bottom: 17px;
}

.device-name {
    font-weight: normal;
    letter-spacing: 0.04em;
  }

  .vital-statistics-container {
      background-color: white;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      min-height: 87px;
      padding-bottom: 30px;
  }
  
.vital-statistics {
    display: flex;
    flex-direction: column;
}

.vital-output {
    margin-top: 10px;
}