.App {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

.App-header {
  height: 100px;
  background-color: #262c33;
  margin-bottom: 5em;
}

.dashboard-name {
  font-weight: normal;
}

.dashboard-container {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.table-row {
  display: table-row;
  background: white;
}

.add-device-button {
  float: right;
  text-align: center;
  cursor: pointer;
  background-color: #8ff34a;
  padding: 10px 25px 10px 25px;;
  font-size: 0.9em;
}

.table-column-header {
  font-size: 0.7em;
  display: table-cell;
  text-transform: uppercase;
  color: #818282;
}

.header-row {
  background: transparent;
}

.table-cell {
  display: table-cell;
  padding-bottom: 10px;
}

.device-actions {
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.edit-device-button {
  background-image: url(./img/edit.svg);
}

.delete-device-button {
  background-image: url(./img/delete.svg);
}

.button-text {
  font-size: 0.5em;
  text-transform: uppercase;
}