.App {
  text-align: center;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-column-header {
  display: table-cell;
}

.table-cell {
  display: table-cell;
}